body {
    font-family: 'Open Sans', arial, sans-serif;
    background: #e1f7b7;
    height: 100%;
    width: 100%;
}

button:active, button:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
}

/*Template*/
#page {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template: [main-left]   "nav  main" 1fr  [main-right]
}

header {
    background-color: lime;
    grid-area: head;
}

nav {
    background-color: lightblue;
    grid-area: nav;
}

main {
    background-color: yellow;
    grid-area: main;
}


/*IDs*/



#board {
    background: transparent;
    height: 100%;
    margin: auto;
    position: relative;
    vertical-align: center;
    width: 100%;
}

/*Classes*/
.hexagon {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    color: #6C6;
    display: inline-flex;
    font-size: 110px;
    margin: -8px;
    overflow: hidden;
    outline: none;
    width: 112px;
}

.hexagon:hover {
    color: lightseagreen;
}

.player_1 {
    color: dodgerblue;
}


.row {
    position: absolute;
    width: 100%;
}
