<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Hex Game in Symfony{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
{% block body %}

    <div id="board">
        {% for i in range(1, size) %}
            {% for j in range(1, size) %}
                <div class="hexagon"><span></span></div>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
